.profilePage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:hsl(0, 0, 0);
}

.profileContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0, 0);
}
.profileHeader {
    position: relative;
    display: flex;
    align-items: center;
    width: 900px;
    height: 310px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.profileSplash {
    background-color: rgb(0, 0, 0);
    width: 900px;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.splashImg {
    filter: blur(0px);
    opacity: 0.3;
    width: 900px;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    object-fit: cover;
}

.profileIcon {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: contain;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.iconImg {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: contain;
    z-index: 2;
}

.infoBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    width: 200px;
    height: 100px;
    top: 20px;
    left: 240px;
    z-index: 3;
}

.profileUsn {
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    font-weight: 500;
}

.roleName {
    color: hsl(0, 0%, 60%);
    font-size: 20px;
    font-weight: 400;
}

.bookBtn {
    position: absolute;
    border-color: transparent;
    background-color: hsl(166, 100%, 31%);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    height: 50px;
    bottom: 20px;
    left: 20px;
    z-index: 3;
}

.favBtn {
    position: absolute;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    height: 50px;
    bottom: 20px;
    left: 240px;
    z-index: 3;
}

.shareBtn {
    position: absolute;
    background-color: hsl(0, 0%, 5%);
    filter: invert(1);
    border-color: transparent;
    border-radius: 25px;
    font-size: 16px;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

.reviewScore {
    display: flex;
    flex-direction: row;
    position: absolute;
    border-color: transparent;
    border-radius: 4px;
    background-color: hsl(0, 0%, 5%);
    top: 20px;
    right: 20px;
    width: 140px;
    height: 50px;
    z-index: 3;
}

.revIcon {
    align-self: center;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.score {
    align-self: center;
    margin-top: -2px;
    font-size: 20px;
    color: hsl(45, 100%, 50%);
    font-weight: 500;
    margin-left: 10px;
}

.reviewCount {
    align-self: center;
    margin-top: 2px;
    font-size: 16px;
    color: hsl(0, 0%, 50%);
    margin-left: 4px;
    font-weight: 500;
}

.profileNav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 50px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.profileNavBtn {
    font-size: 16px;
    width: 300px;
    height: 100%;
    background-color: transparent;
    color: hsl(0, 0%, 60%);
    border-color: transparent;
    border-bottom-color: hsl(0, 0%, 0%);
    transition: color 0.15s ease-in-out;
}

.profileNavBtn:hover {
    color: hsl(0, 0%, 100%);
}

.tabContainer {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 800px;
    background-color: white;
}

.infoPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.aboutSect {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    color: white;
    height: auto;
}

.subHeader {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 80%);
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    border-radius: 5px;
}

.editBtn {
    margin-left: 10px;
    margin-top: -4px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: transparent;
    z-index: 4;
}

.editBtn:hover {
    fill: white;
}

.editBtn img {
    width: 20px;
    height: 20px;
    z-index: 4;
}

.aboutText {
    display: flex;
    line-height: 30px;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 80%);
    padding-left: 20px;
    border-radius: 5px;
}

.availSect {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    color: white;
    width: 900px;
    height: auto;
}

.availChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 130px;
    background-color: transparent;
    border-radius: 5px;
}

.chartHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 900px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 40%);
    font-weight: 500;
}

.chartHeader div {
    display: flex;
    justify-content: center;
    width: 115px;
}
.datesFrame {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
    height: 100px;
    background-color: hsl(0, 0%, 95%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.dateBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: hsl(0, 0%, 30%);
    width: 115px;
    border-color: transparent;
}

.monthLab {
    font-size: 16px;
}

.dayLab {
    font-size: 24px;
    font-weight: 500;
}

.clientSect {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    color: white;
    height: auto;
}