.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-right: auto;
    padding-left: 40px;
    width: 100px;
    height: 100%;
    color: white;
    font-size: 35px;
    letter-spacing: -2px;
}
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    gap: 50px
}

.rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 40px;
    width: 100px;
    height: 100%;
}
.navButton {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    padding: 2px;
    margin: 0px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-color: transparent;
    color: hsl(0, 0%, 5%);
    right: 50px;
    cursor: pointer;
}
