.topBar {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 0%, 0.4);
    width: 100%;
    height: 100px;
    z-index: 100;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-right: auto;
    padding-left: 40px;
    width: 100px;
    height: 100%;
    color: white;
    font-size: 35px;
    letter-spacing: -2px;
    z-index: 100;
}
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    gap: 50px;
    z-index: 100;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 40px;
    width: 100px;
    height: 100%;
    z-index: 100;
}
.navButton {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    padding: 2px;
    margin: 0px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    z-index: 100;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-color: transparent;
    color: hsl(0, 0%, 5%);
    right: 50px;
    cursor: pointer;
    z-index: 100;
}

.fadeOverlay2 {
    position: fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    border-color: transparent;
    width: 100%;
    height: 50px;
    pointer-events: none;
    top: 100px;
    left: 0;
    z-index: 99;
}
