.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    padding-left: 35px;
    width: 100px;
    height: 100%;
    color: white;
    font-size: 25px;
    letter-spacing: -1px;
}
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    gap: 50px
}

.rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 35px;
    width: 100px;
    height: 100%;
}
.navButton {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    padding: 2px;
    margin: 0px;
    height: 50px;
    width: 50px;
    font-size: 18px;
}

.logoutButton {
    width: 90px;
    height: 40px;
    font-weight: 600;
    border-color: transparent;
    right: 50px
}
