.homePage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0, 0);
}

.pageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0, 0);
}

.featuredContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 900px;
    height: 450px;
    border-radius: 10px;
    box-sizing: border-box;
}

.featuredImagesContainer {
    display: flex;
    /* flex-direction: row; */
    background-color: transparent;
    padding: 0;
    width: 900px;
    height: 900px;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 15px;
    z-index: 0;
    /* overflow: hidden; */
}

.featuredHero {
    position: absolute;
    width: 900px;
    height: 450px;
    opacity: 1;
    border-radius: 10px;
}

.subTitle {
    color: white;
    font-size: 40px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: -15px;
    letter-spacing: 2px;
    font-weight: 100;
    z-index: 1;
}

.mainTitle {
    color: white;
    margin-left: 25px;
    margin-bottom: -15px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    z-index: 1;
}

.bottomTitle {
    color: white;
    font-size: 40px;
    margin-left: 25px;
    margin-bottom: -8px;
    letter-spacing: 2px;
    font-style: italic;
    z-index: 1;
}

.nameTitle {
    color: #00ffc1 ;
    font-size: 40px;
    margin-left: 25px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-family: "Pattaya", sans-serif;
    z-index: 1;
}

.htContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 80px;
    box-sizing: border-box;
    color: white;
}

.htLeft {
    display: flex;
    align-items: center;
    height: 100%;
    width: 500px;
    font-size: 40px;
}

.hlTitle {
    margin-right: 10px;
    font-weight: 200;
    height: 59px;
}

.hlTitleStyled {
    font-weight: 500;
    height: 59px;
}

.htRight {
    display: flex;
}

.exploreBtn {
    padding: 15px 50px;
    border-color: transparent;
    border-radius: 2px;
    cursor: pointer;
}

.textBody {
    color: white;
    height: 150px;
    width: 350px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 200;
    overflow-wrap: break-word;
    z-index: 1;
}

.personName {
    font-style: italic;
    
}

.featuredButtons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    z-index: 1;
}

.featuredButtons button {
    border-radius: 5px;
    margin-left: 25px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
}

.bookButton {

    color: white;
    border-color: transparent;
    cursor: pointer;
}

.favoriteButton {
    border-color: aliceblue;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 300px;
    z-index: 0;
}

.photo {
    position: relative;
    width: 100%;
    border: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    z-index: 1;
    cursor: pointer;
}

.photo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 2;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.photo .overlay:hover {
    opacity: 1;
}

.userLink {
    position: absolute;
    background-color: white;
    border-color: transparent;
    border-radius: 25px;
    z-index: 3;
    font-size: 17px;
    color: rgb(49, 49, 49);
    padding: 7px 20px 7px 45px;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.userLink:hover {
    background-color: rgb(220, 220, 220);
}

.userLink img {
    position: absolute;
    rotate: 270;
    width: 12px;
    height: 12px;
    border-radius: 0px;
    left: 20px;
    top: 10px
}

.likeBtn {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #bf004e;
    border-color: transparent;
    border-radius: 25px;
    z-index: 3;
    width: 40px;
    height: 40px;
    padding-top: 3px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.likeBtn:hover {
    background-color: #a30044;
}

.fadeOverlay {
    position: fixed;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-color: transparent;
    width: 100%;
    height: 100px;
    pointer-events: none;
    bottom: 0;
    left: 0;
    z-index: 4;
}



